.Separadorlinia1 {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: red;
   
}
.Separadorlinia2 {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: red;
   
}