
div.box {
    position: absolute;
    width: 900px;
    height: 800px;
}

div.table1 {
    position: absolute;
    margin-left: 50px;
}

div.table2 {
    position: absolute;
    top: 120px;
    right: 150px;
}
div.table3 h1 {
    margin: 3px;
}

div.table3 {
    position: absolute;
    margin: 5px solid cyan;
    top: 180px;
    right: 270px;
}



div.table4 {
    position: absolute;
    margin: auto;
    top: 400px;
    left: 80px;
}
div.table4 td {
    width: 250px;
    height: 100px;
}