

div.superior {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: blue;
}

div.inferior {
    margin: auto;
    margin-bottom: 15px;
    margin-top: 450px;
    text-align: center;
    background-color: red;
}


/* ---------------------------------------------------- */

div.box {
    position: relative;
    margin: auto;
    width: 50%;
    height: 500px;
    text-align: center;
    background-color: red;

}

div.subox1 {
    position: absolute;
    border: 15px solid cyan;
    top: -35px;
    left: -35px;
}

div.subox2 {
    position: absolute;
    border-radius: 65px;
    top: -35px;
    left: 255px;
    width: 120px;
    height: 120px;
    background-color: blue;
}

div.subox3 {
    position: absolute;
    border-radius: 65px;
    top: 420px;
    left: -35px;
    width: 120px;
    height: 120px;
    background-color: blue;
}

div.subox4 {
    position: absolute;
    border-radius: 65px;
    top: 420px;
    left: 255px;
    width: 120px;
    height: 120px;
    background-color: blue;
}

