
h1 { /* Titulo */
    color: brown;
    text-align: center;
    font-size: 13px;

}

h2 { /* Precio */
    color: blueviolet;
    text-align: center;
    font-size: 20px;
}

h3 { /* Comentario */
    color: black;
    text-align: left;
    font-size: 12px;
    padding: 5px;
}
/*---------------------------------------------------------------------------------------------------------*/


div.box {
    margin: auto;
    width: 95%;
    height: 400px;
    background-color: gray;
    padding: 1%;
    
}

div.sub-box1 {
    display: inline-block;
    position: relative;
    margin: 5px;
    height: 375px;
    width: 17%;
    background-color: lime;

}

div img {
    border-radius: 8%;
    position: relative;
    height: 150px;
    width: 190px;
    margin: 5px;
    padding: 5px;
}

div.icon img{
    display: inline-block;
    height: 30px;
    width: 35px;
    right: -50px;
    bottom: -10px;
}